#header {
	width: 100%;
	height: 80px;
}
#main-content-1 {
    text-align: center;
	font-family: sans-serif;
}
#main-content-1 h2 {
	letter-spacing: 2px;
	margin: 0;
}
.input-name {
	width: 300px;
	padding: 15px;
	height: 40px;
	border: 2px solid grey;
	border-radius: 5px;
}
.input-name:hover{
	border: 2px solid pink;
}
#type,#type1 {
	background-color: #ccffcc;
	padding: 4px;
}
.input-next {
	width: 100px;
	padding: 8px;
	font-weight: bold;
	background-color: #ff3399;
	border: 2px solid #ff3399;
	border-radius: 20px;
	outline: none;
	color: white;
	cursor: pointer;
}
.w3-grey {
	width: 500px;
	margin-left: 35%;
}
.input-select {
	width: 300px;
	height: 40px;
	border: 2px solid grey;
	border-radius: 5px;
	margin-top: 5px;
}
.input-select:hover {
	border: 2px solid pink;
}
#choose {
	width: 300px;
	margin-left: 40%;
}
.line {
	width: 280px;
	padding: 7px;
	border-radius: 5px;
	margin-left: 40%;
	text-align: left;
}
.line2 {
	width: 280px;
	padding: 10px;
	border-radius: 5px;
	text-align: left;
	display: inline;
}
#main-content-1 .next-line {
	margin-left: -227px;
}
/*for small screens*/
@media (max-width:600px){
#choose{
	margin-left: 3%;
	width:400px;
}
.w3-grey{
	margin-left: 4%;
	width: 350px;
	overflow: hidden;
	}
.line {
	margin-left: 20%;
}
	#main-content-1 .next-line {
	margin-left: -185px;
}
}
